.PersonInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 60%;
  height: 90vh;
  background-color: hsla(0, 0%, 0%, 0.9);
  border-radius: 0.75rem;
}
.personStuff {
  width: 40%;
}
.Person {
  color: white;
  margin-top: 1rem;
  font-size: 3rem;
  width: 40%;
  text-align: center;
}
.PersonImg {
  position: relative;
  left: 1rem;
  width: 25rem;
  height: 30rem;
}
.PersonEmail {
  color: white;
  margin-bottom: 3rem;
  text-align: center;
}
.PersonPhone {
  color: white;
  margin-bottom: 3rem;
  text-align: center;
}
.PersonGithub {
  color: white;
  margin-bottom: 3rem;
  text-align: center;
}
.PersonContact {
  display: block;
  position: relative;
  left: 8.5rem;
  bottom: 35rem;
}
.sub {
  position: relative;
  left: 18rem;
  width: 30rem;
  font-size: 3rem;
  background-color: rgb(44, 44, 44);
}
