$dark-shadow2: 0 0px 15px rgba(0, 0, 0, 0.8);
$purple-3: rgb(58, 0, 112);
$Font-Use2: Sans-Serif;
.contact {
  width: 70vw;
  height: 45vh;
  background-color: #c9c9c9;
  margin-bottom: 4rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  box-shadow: inset, $dark-shadow2 $dark-shadow2;
}
.contact:hover {
  box-shadow: 2px 2px 2px $purple-3;
}
.Person {
  text-align: center;
  color: $purple-3;
  font-family: $Font-Use2;
  border-bottom: 3px $purple-3 solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.PersonImage {
  margin-left: 3rem;
  margin-top: 1rem;
  height: 30vh;
  width: 40vh;
  border-radius: 0.75rem;
}
.PersonInfoHolder {
  display: flex;
  justify-content: flex-start;
}
.PersonContact {
  margin-top: 1rem;
  margin-left: 3rem;
  text-align: left;
  font-family: $Font-Use2;
}
.PersonInfo {
  margin-bottom: 2rem;
  font-family: $Font-Use2;
  border-bottom: 3px $purple-3 solid;
}
.contactHeader {
  text-align: center;
  color: $purple-3;
  background-color: rgb(236, 236, 236);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
}
