*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
  border-color: transparent;
  text-transform: capitalize;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body {
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 1rem;
}
nav img {
  height: 100%;
  width: auto;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
nav ul .link {
  text-decoration: none;
}
nav ul h1 {
  font-size: calc(1vw + 1vh);
  font-weight: normal;
}
nav ul h1::before {
  position: absolute;
  content: "";
  top: 6vh;
  width: 0;
  height: 0.25vh;
  transition: width 0.3s;
}
nav ul h1:hover::before {
  width: 4vw;
}
nav ul li.active h1 {
  font-weight: bolder;
}
@media only screen and (max-width: 500px) {
  nav {
    flex-direction: row-reverse;
  }
  nav ul {
    width: 20%;
    transition: margin-top 0.1s;
  }
  nav ul li {
    display: none;
  }
  nav ul li h1 {
    font-size: calc(2vw + 2vh);
  }
  nav ul li h1::before {
    background-color: transparent;
  }
  nav ul li.active {
    display: block;
  }
  nav ul:hover {
    display: block;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    padding: 1vh;
    width: 30vw;
    text-align: right;
    margin-top: 26vh;
  }
  nav ul:hover li {
    display: block;
  }
}

div#homePage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5vh;
}
div#homePage div#left {
  width: 40%;
  height: 80vh;
  border-radius: 0 1rem 1rem 0;
  border-left: none;
}
div#homePage div#right {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-end;
}
div#homePage div#right div.right-box {
  width: 100%;
  height: 35vh;
  border-radius: 1rem 0 0 1rem;
  border-right: none;
}

.Pro-top {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Pro-header {
  text-align: center;
  font-family: Sans-Serif;
  border-bottom: #8400ff groove 4px;
  margin-bottom: 1rem;
}

.Pro-info {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-family: Sans-Serif;
}

.Card-Holder {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.Card {
  width: 25rem;
  height: 38rem;
  box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
  background-color: #7c7c7c;
  border-radius: 0.75rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

.link-Products {
  text-decoration: none;
  color: black;
}

.Card-head {
  text-align: center;
  margin-top: 1.5rem;
  color: #3a0070;
  font-size: 3rem;
  font-family: Sans-Serif;
}

.Card-Info {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 20rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  text-align: center;
  color: white;
  font-family: Sans-Serif;
}

.Card-Img {
  border-radius: 0.75rem;
  box-shadow: inset, 0 0px 15px rgba(0, 0, 0, 0.8) 0 0px 15px rgba(0, 0, 0, 0.8);
  position: relative;
  left: 2.5rem;
  top: 1.5rem;
  height: 15rem;
  width: 20rem;
}

.Card-Btn {
  height: 3rem;
  width: 14rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #3a0070;
  box-shadow: inset, 0 0px 15px rgba(0, 0, 0, 0.8) 0 0px 15px rgba(0, 0, 0, 0.8);
  border-radius: 0.75rem;
}

.Card-Btn-Text {
  color: white;
  font-size: 1.2rem;
  font-family: Sans-Serif;
}

form {
  width: 90%;
  max-width: 750px;
  margin: 15px auto;
  background-color: #3b3b3b;
  padding: 1rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  border: solid 1px black;
  padding: 4px 7px;
  border-radius: 0.75rem;
  font-family: Sans-Serif;
}

#eml,
#tel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button:hover {
  background-color: #2d009d;
  color: white;
}

.btn-group {
  display: flex;
  justify-content: space-around;
}

.resetForm {
  width: 8rem;
  height: 2rem;
  border-radius: 0.75rem;
}

.SumbitForm {
  width: 8rem;
  height: 2rem;
  border-radius: 0.75rem;
  margin-top: 0.5rem;
}

.ContactHeader {
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid #3a0070;
  font-family: Sans-Serif;
  color: white;
}/*# sourceMappingURL=main.css.map */